In [93]:
#Algoritmo corrigido - A leitura era feita com uma linha faltando dentro das 150 linhas

In [94]:
import pandas as pd
import csv

In [95]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /home/elmo/anaconda3/lib/python3.8/site-packages (0.18.0)
Requirement already satisfied: scipy>=1.2.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: joblib>=0.13.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: pandas>=0.24.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: setuptools in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: numpy>=1.16.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: matplotlib>=3.0.0 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.20.3 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: cycler>=0.10 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/elmo/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in /home/elmo/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)

In [96]:
from mlxtend.frequent_patterns import apriori, association_rules

In [97]:
df_temp = pd.read_csv("dados.csv",usecols=[0,1,2],encoding="latin_1")

In [98]:
nomes_jogadores = ['Ágata','Alonso','Bárbara','Marta','Roberto','Romário','Ronaldo','Shelda'];

In [99]:
with open('dados.csv', newline='',encoding="latin_1") as f:
    leitor = csv.reader(f)
    lista = list(leitor)

In [100]:
# Remoção de itens desnecessários para a análise
for item in lista:
    del item[3:-1]     
    
for item in lista:
    del item[-1]

In [101]:
#Correção de codificação de caracteres, remoção de espaços em branco e capitalização
#Divisão de string com nomes de jogadores -> strings cada uma com um nome de jogador
for item in lista:
    jogadores = item[1].split(',')
    item[1] = []
    for jogador in jogadores:
        jogador = jogador.replace(" ","")
        jogador = jogador.capitalize()
        if('gata' in jogador):
            jogador = 'Ágata'
        if('bara' in jogador):
            jogador = 'Bárbara'
        if('erto' in jogador):
            jogador = 'Roberto'
        if('mario' in jogador):
            jogador = 'Romário'
        item[1].append(jogador)
    
    item[2] = item[2].capitalize()

In [102]:
lista
lista_para_df = []

In [103]:
#Criação de dataframe que preenche colunas de jogadores com 1 ou 0 (True ou False),
#dependendo da presença ou ausência do jogador na partida
for i in range(1,len(lista)):
    lista_temp = []
    lista_temp.append(lista[i][0])
    for jogador in nomes_jogadores:
        if jogador in lista[i][1]:
            lista_temp.append(1)
        else:
            lista_temp.append(0)
    if(lista[i][2] == 'Ganhou'):
        lista_temp.append(1)
    else:
        lista_temp.append(0)
    lista_para_df.append(lista_temp)

In [104]:
colunas = ["Partida",*nomes_jogadores,"Resultado"]
df = pd.DataFrame(lista_para_df,columns=colunas)

In [105]:
df

,Partida,Ágata,Alonso,Bárbara,Marta,Roberto,Romário,Ronaldo,Shelda,Resultado
0,1,0,1,0,0,1,1,0,0,0
1,2,1,1,0,0,1,0,0,0,0
2,3,1,0,0,1,0,0,1,0,1
3,4,1,0,1,1,0,0,0,0,1
4,5,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
145,146,1,0,0,1,0,0,0,0,1
146,147,0,0,0,0,0,1,0,1,0
147,148,1,1,0,0,0,0,1,0,1
148,149,1,1,0,1,0,0,0,0,0
149,150,0,0,1,1,0,0,0,0,1

In [106]:
df = df.drop(['Partida'],axis=1)

In [107]:
df

,Ágata,Alonso,Bárbara,Marta,Roberto,Romário,Ronaldo,Shelda,Resultado
0,0,1,0,0,1,1,0,0,0
1,1,1,0,0,1,0,0,0,0
2,1,0,0,1,0,0,1,0,1
3,1,0,1,1,0,0,0,0,1
4,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...
145,1,0,0,1,0,0,0,0,1
146,0,0,0,0,0,1,0,1,0
147,1,1,0,0,0,0,1,0,1
148,1,1,0,1,0,0,0,0,0
149,0,0,1,1,0,0,0,0,1

In [108]:
suporte = apriori(df, min_support=0.1,use_colnames=True)

In [109]:
suporte

     support                       itemsets
0   0.413333                        (Ágata)
1   0.393333                      (Bárbara)
2   0.426667                        (Marta)
3   0.433333                      (Roberto)
4   0.280000                      (Romário)
5   0.293333                      (Ronaldo)
6   0.213333                       (Shelda)
7   0.513333                    (Resultado)
8   0.180000                 (Marta, Ágata)
9   0.106667               (Roberto, Ágata)
10  0.113333               (Ronaldo, Ágata)
11  0.226667             (Resultado, Ágata)
12  0.166667               (Bárbara, Marta)
13  0.220000             (Roberto, Bárbara)
14  0.193333           (Resultado, Bárbara)
15  0.146667               (Roberto, Marta)
16  0.286667             (Resultado, Marta)
17  0.206667           (Resultado, Roberto)
18  0.133333           (Resultado, Romário)
19  0.146667           (Resultado, Ronaldo)
20  0.126667      (Resultado, Marta, Ágata)
21  0.113333    (Resultado, Bárbara, Marta)
22  0.100000  (Resultado, Roberto, Bárbara)

In [110]:
regras = association_rules(suporte, metric="confidence", min_threshold=0.1)

In [111]:
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Marta),(Ágata),0.426667,0.413333,0.180000,0.421875,1.020665,0.003644,1.014775
1,(Ágata),(Marta),0.413333,0.426667,0.180000,0.435484,1.020665,0.003644,1.015619
2,(Roberto),(Ágata),0.433333,0.413333,0.106667,0.246154,0.595533,-0.072444,0.778231
3,(Ágata),(Roberto),0.413333,0.433333,0.106667,0.258065,0.595533,-0.072444,0.763768
4,(Ronaldo),(Ágata),0.293333,0.413333,0.113333,0.386364,0.934751,-0.007911,0.956049
5,(Ágata),(Ronaldo),0.413333,0.293333,0.113333,0.274194,0.934751,-0.007911,0.973630
6,(Resultado),(Ágata),0.513333,0.413333,0.226667,0.441558,1.068287,0.014489,1.050543
7,(Ágata),(Resultado),0.413333,0.513333,0.226667,0.548387,1.068287,0.014489,1.077619
8,(Bárbara),(Marta),0.393333,0.426667,0.166667,0.423729,0.993114,-0.001156,0.994902
9,(Marta),(Bárbara),0.426667,0.393333,0.166667,0.390625,0.993114,-0.001156,0.995556
10,(Roberto),(Bárbara),0.433333,0.393333,0.220000,0.507692,1.290743,0.049556,1.232292
11,(Bárbara),(Roberto),0.393333,0.433333,0.220000,0.559322,1.290743,0.049556,1.285897
12,(Resultado),(Bárbara),0.513333,0.393333,0.193333,0.376623,0.957517,-0.008578,0.973194
13,(Bárbara),(Resultado),0.393333,0.513333,0.193333,0.491525,0.957517,-0.008578,0.957111
14,(Roberto),(Marta),0.433333,0.426667,0.146667,0.338462,0.793269,-0.038222,0.866667
15,(Marta),(Roberto),0.426667,0.433333,0.146667,0.343750,0.793269,-0.038222,0.863492
16,(Resultado),(Marta),0.513333,0.426667,0.286667,0.558442,1.308847,0.067644,1.298431
17,(Marta),(Resultado),0.426667,0.513333,0.286667,0.671875,1.308847,0.067644,1.483175
18,(Resultado),(Roberto),0.513333,0.433333,0.206667,0.402597,0.929071,-0.015778,0.948551
19,(Roberto),(Resultado),0.433333,0.513333,0.206667,0.476923,0.929071,-0.015778,0.930392
20,(Resultado),(Romário),0.513333,0.280000,0.133333,0.259740,0.927644,-0.010400,0.972632
21,(Romário),(Resultado),0.280000,0.513333,0.133333,0.476190,0.927644,-0.010400,0.929091
22,(Resultado),(Ronaldo),0.513333,0.293333,0.146667,0.285714,0.974026,-0.003911,0.989333
23,(Ronaldo),(Resultado),0.293333,0.513333,0.146667,0.500000,0.974026,-0.003911,0.973333
24,"(Resultado, Marta)",(Ágata),0.286667,0.413333,0.126667,0.441860,1.069017,0.008178,1.051111
25,"(Resultado, Ágata)",(Marta),0.226667,0.426667,0.126667,0.558824,1.309743,0.029956,1.299556
26,"(Marta, Ágata)",(Resultado),0.180000,0.513333,0.126667,0.703704,1.370851,0.034267,1.642500
27,(Resultado),"(Marta, Ágata)",0.513333,0.180000,0.126667,0.246753,1.370851,0.034267,1.088621
28,(Marta),"(Resultado, Ágata)",0.426667,0.226667,0.126667,0.296875,1.309743,0.029956,1.099852
29,(Ágata),"(Resultado, Marta)",0.413333,0.286667,0.126667,0.306452,1.069017,0.008178,1.028527
30,"(Resultado, Bárbara)",(Marta),0.193333,0.426667,0.113333,0.586207,1.373922,0.030844,1.385556
31,"(Resultado, Marta)",(Bárbara),0.286667,0.393333,0.113333,0.395349,1.005124,0.000578,1.003333
32,"(Bárbara, Marta)",(Resultado),0.166667,0.513333,0.113333,0.680000,1.324675,0.027778,1.520833
33,(Resultado),"(Bárbara, Marta)",0.513333,0.166667,0.113333,0.220779,1.324675,0.027778,1.069444
34,(Bárbara),"(Resultado, Marta)",0.393333,0.286667,0.113333,0.288136,1.005124,0.000578,1.002063
35,(Marta),"(Resultado, Bárbara)",0.426667,0.193333,0.113333,0.265625,1.373922,0.030844,1.098440
36,"(Resultado, Roberto)",(Bárbara),0.206667,0.393333,0.100000,0.483871,1.230180,0.018711,1.175417
37,"(Resultado, Bárbara)",(Roberto),0.193333,0.433333,0.100000,0.517241,1.193634,0.016222,1.173810
38,"(Roberto, Bárbara)",(Resultado),0.220000,0.513333,0.100000,0.454545,0.885478,-0.012933,0.892222
39,(Resultado),"(Roberto, Bárbara)",0.513333,0.220000,0.100000,0.194805,0.885478,-0.012933,0.968710
40,(Roberto),"(Resultado, Bárbara)",0.433333,0.193333,0.100000,0.230769,1.193634,0.016222,1.048667
41,(Bárbara),"(Resultado, Roberto)",0.393333,0.206667,0.100000,0.254237,1.230180,0.018711,1.063788

In [112]:
regras_sort = regras.sort_values(by=['confidence'],ascending=False)

In [113]:
regras_sort.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
26,"(Marta, Ágata)",(Resultado),0.180000,0.513333,0.126667,0.703704,1.370851,0.034267,1.642500
32,"(Bárbara, Marta)",(Resultado),0.166667,0.513333,0.113333,0.680000,1.324675,0.027778,1.520833
17,(Marta),(Resultado),0.426667,0.513333,0.286667,0.671875,1.308847,0.067644,1.483175
30,"(Resultado, Bárbara)",(Marta),0.193333,0.426667,0.113333,0.586207,1.373922,0.030844,1.385556
11,(Bárbara),(Roberto),0.393333,0.433333,0.220000,0.559322,1.290743,0.049556,1.285897
25,"(Resultado, Ágata)",(Marta),0.226667,0.426667,0.126667,0.558824,1.309743,0.029956,1.299556
16,(Resultado),(Marta),0.513333,0.426667,0.286667,0.558442,1.308847,0.067644,1.298431
7,(Ágata),(Resultado),0.413333,0.513333,0.226667,0.548387,1.068287,0.014489,1.077619
37,"(Resultado, Bárbara)",(Roberto),0.193333,0.433333,0.100000,0.517241,1.193634,0.016222,1.173810
10,(Roberto),(Bárbara),0.433333,0.393333,0.220000,0.507692,1.290743,0.049556,1.232292
23,(Ronaldo),(Resultado),0.293333,0.513333,0.146667,0.500000,0.974026,-0.003911,0.973333
13,(Bárbara),(Resultado),0.393333,0.513333,0.193333,0.491525,0.957517,-0.008578,0.957111
36,"(Resultado, Roberto)",(Bárbara),0.206667,0.393333,0.100000,0.483871,1.230180,0.018711,1.175417
19,(Roberto),(Resultado),0.433333,0.513333,0.206667,0.476923,0.929071,-0.015778,0.930392
21,(Romário),(Resultado),0.280000,0.513333,0.133333,0.476190,0.927644,-0.010400,0.929091
38,"(Roberto, Bárbara)",(Resultado),0.220000,0.513333,0.100000,0.454545,0.885478,-0.012933,0.892222
24,"(Resultado, Marta)",(Ágata),0.286667,0.413333,0.126667,0.441860,1.069017,0.008178,1.051111
6,(Resultado),(Ágata),0.513333,0.413333,0.226667,0.441558,1.068287,0.014489,1.050543
1,(Ágata),(Marta),0.413333,0.426667,0.180000,0.435484,1.020665,0.003644,1.015619
8,(Bárbara),(Marta),0.393333,0.426667,0.166667,0.423729,0.993114,-0.001156,0.994902
0,(Marta),(Ágata),0.426667,0.413333,0.180000,0.421875,1.020665,0.003644,1.014775
18,(Resultado),(Roberto),0.513333,0.433333,0.206667,0.402597,0.929071,-0.015778,0.948551
31,"(Resultado, Marta)",(Bárbara),0.286667,0.393333,0.113333,0.395349,1.005124,0.000578,1.003333
9,(Marta),(Bárbara),0.426667,0.393333,0.166667,0.390625,0.993114,-0.001156,0.995556
4,(Ronaldo),(Ágata),0.293333,0.413333,0.113333,0.386364,0.934751,-0.007911,0.956049
12,(Resultado),(Bárbara),0.513333,0.393333,0.193333,0.376623,0.957517,-0.008578,0.973194
15,(Marta),(Roberto),0.426667,0.433333,0.146667,0.343750,0.793269,-0.038222,0.863492
14,(Roberto),(Marta),0.433333,0.426667,0.146667,0.338462,0.793269,-0.038222,0.866667
29,(Ágata),"(Resultado, Marta)",0.413333,0.286667,0.126667,0.306452,1.069017,0.008178,1.028527
28,(Marta),"(Resultado, Ágata)",0.426667,0.226667,0.126667,0.296875,1.309743,0.029956,1.099852