In [24]:
import pandas as pd
import csv

In [25]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /home/elmo/anaconda3/lib/python3.8/site-packages (0.18.0)
Requirement already satisfied: joblib>=0.13.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: setuptools in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: pandas>=0.24.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: scipy>=1.2.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: numpy>=1.16.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: matplotlib>=3.0.0 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.20.3 in /home/elmo/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: pytz>=2017.2 in /home/elmo/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/elmo/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/elmo/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in /home/elmo/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)

In [26]:
from mlxtend.frequent_patterns import apriori, association_rules

In [27]:
df_temp = pd.read_csv("dados.csv",usecols=[0,1,2],encoding="latin_1")

In [28]:
nomes_jogadores = ['Ágata','Alonso','Bárbara','Marta','Roberto','Romário','Ronaldo','Shelda'];

In [29]:
with open('dados.csv', newline='',encoding="latin_1") as f:
    leitor = csv.reader(f)
    lista = list(leitor)

In [30]:
# Remoção de itens desnecessários para a análise
for item in lista:
    del item[3:-1]     
    
for item in lista:
    del item[-1]

In [31]:
#Correção de codificação de caracteres, remoção de espaços em branco e capitalização
#Divisão de string com nomes de jogadores -> strings cada uma com um nome de jogador
for item in lista:
    jogadores = item[1].split(',')
    item[1] = []
    for jogador in jogadores:
        jogador = jogador.replace(" ","")
        jogador = jogador.capitalize()
        if('gata' in jogador):
            jogador = 'Ágata'
        if('bara' in jogador):
            jogador = 'Bárbara'
        if('erto' in jogador):
            jogador = 'Roberto'
        if('mario' in jogador):
            jogador = 'Romário'
        item[1].append(jogador)
    
    item[2] = item[2].capitalize()

In [32]:
lista

[['Partida', ['Jogadore(a)s'], 'Resultado'],
 ['1', ['Romário', 'Roberto', 'Alonso'], 'Perdeu'],
 ['2', ['Alonso', 'Roberto', 'Ágata'], 'Perdeu'],
 ['3', ['Ágata', 'Ronaldo', 'Marta'], 'Ganhou'],
 ['4', ['Ágata', 'Marta', 'Bárbara'], 'Ganhou'],
 ['5', ['Bárbara', 'Roberto', 'Romário'], 'Perdeu'],
 ['6', ['Shelda', 'Ronaldo', 'Marta'], 'Ganhou'],
 ['7', ['Roberto', 'Ágata', 'Marta'], 'Ganhou'],
 ['8', ['Romário', 'Ágata', 'Roberto'], 'Ganhou'],
 ['9', ['Roberto', 'Marta', 'Bárbara'], 'Perdeu'],
 ['10', ['Roberto', 'Bárbara', 'Marta'], 'Ganhou'],
 ['11', ['Bárbara', 'Roberto', 'Romário'], 'Ganhou'],
 ['12', ['Roberto', 'Ronaldo', 'Marta'], 'Ganhou'],
 ['13', ['Romário', 'Marta', 'Ronaldo'], 'Perdeu'],
 ['14', ['Bárbara', 'Roberto', 'Marta'], 'Ganhou'],
 ['15', ['Ágata', 'Bárbara', 'Ronaldo'], 'Ganhou'],
 ['16', ['Bárbara', 'Roberto', 'Marta'], 'Ganhou'],
 ['17', ['Romário', 'Bárbara', 'Ronaldo'], 'Perdeu'],
 ['18', ['Bárbara', 'Roberto', 'Marta'], 'Perdeu'],
 ['19', ['Ágata', 'Shelda', 'Romário'], 'Perdeu'],
 ['20', ['Ágata', 'Marta', 'Roberto'], 'Perdeu'],
 ['21', ['Shelda', 'Romário', 'Roberto'], 'Ganhou'],
 ['22', ['Ágata', 'Ronaldo', 'Bárbara'], 'Ganhou'],
 ['23', ['Ágata', 'Marta', 'Ronaldo'], 'Perdeu'],
 ['24', ['Marta', 'Bárbara', 'Alonso'], 'Ganhou'],
 ['25', ['Ágata', 'Marta', 'Roberto'], 'Ganhou'],
 ['26', ['Ágata', 'Ronaldo', 'Romário'], 'Perdeu'],
 ['27', ['Romário', 'Bárbara', 'Ronaldo'], 'Perdeu'],
 ['28', ['Ágata', 'Marta'], 'Ganhou'],
 ['29', ['Shelda', 'Ronaldo', 'Romário'], 'Perdeu'],
 ['30', ['Romário', 'Bárbara', 'Marta'], 'Ganhou'],
 ['31', ['Ágata', 'Ronaldo', 'Bárbara'], 'Perdeu'],
 ['32', ['Ágata', 'Shelda', 'Roberto'], 'Ganhou'],
 ['33', ['Shelda', 'Ronaldo', 'Romário'], 'Perdeu'],
 ['34', ['Marta', 'Bárbara', 'Ronaldo'], 'Ganhou'],
 ['35', ['Ágata', 'Marta', 'Ronaldo'], 'Perdeu'],
 ['36', ['Shelda', 'Romário', 'Roberto'], 'Perdeu'],
 ['37', ['Ágata', 'Ronaldo', 'Ana'], 'Ganhou'],
 ['38', ['Ágata', 'Marta', 'Romário'], 'Perdeu'],
 ['39', ['Marta', 'Bárbara'], 'Ganhou'],
 ['40', ['Ágata', 'Marta'], 'Ganhou'],
 ['41', ['Marta', 'Bárbara', 'Alonso'], 'Perdeu'],
 ['42', ['Ágata', 'Marta', 'Roberto'], 'Ganhou'],
 ['43', ['Ágata', 'Ronaldo', 'Romário'], 'Ganhou'],
 ['44', ['Romário', 'Bárbara', 'Ronaldo'], 'Perdeu'],
 ['45', ['Ágata', 'Marta'], 'Ganhou'],
 ['46', ['Shelda', 'Ronaldo', 'Romário'], 'Perdeu'],
 ['47', ['Romário', 'Bárbara', 'Marta'], 'Perdeu'],
 ['48', ['Ágata', 'Ronaldo', 'Bárbara'], 'Perdeu'],
 ['49', ['Ágata', 'Shelda', 'Roberto'], 'Perdeu'],
 ['50', ['Shelda', 'Ronaldo', 'Romário'], 'Ganhou'],
 ['51', ['Marta', 'Bárbara', 'Ronaldo'], 'Perdeu'],
 ['52', ['Ágata', 'Marta', 'Ronaldo'], 'Ganhou'],
 ['53', ['Shelda', 'Romário', 'Roberto'], 'Perdeu'],
 ['54', ['Ágata', 'Ronaldo', 'Ana'], 'Perdeu'],
 ['55', ['Ágata', 'Marta', 'Romário'], 'Ganhou'],
 ['56', ['Shelda', 'Ronaldo'], 'Perdeu'],
 ['57', ['Romário', 'Bárbara', 'Marta'], 'Ganhou'],
 ['58', ['Ágata', 'Ronaldo', 'Roberto'], 'Ganhou'],
 ['59', ['Ágata', 'Shelda'], 'Perdeu'],
 ['60', ['Shelda', 'Ronaldo'], 'Perdeu'],
 ['61', ['Marta', 'Bárbara'], 'Ganhou'],
 ['62', ['Ágata', 'Marta'], 'Perdeu'],
 ['63', ['Shelda', 'Ronaldo'], 'Ganhou'],
 ['64', ['Roberto', 'Ágata'], 'Perdeu'],
 ['65', ['Romário', 'Ágata'], 'Perdeu'],
 ['66', ['Roberto', 'Marta'], 'Perdeu'],
 ['67', ['Roberto', 'Bárbara', 'Alonso'], 'Perdeu'],
 ['68', ['Bárbara', 'Roberto'], 'Perdeu'],
 ['69', ['Roberto', 'Ronaldo'], 'Perdeu'],
 ['70', ['Roberto', 'Ágata', 'Marta'], 'Ganhou'],
 ['71', ['Romário', 'Ágata', 'Roberto'], 'Ganhou'],
 ['72', ['Roberto', 'Marta', 'Bárbara'], 'Ganhou'],
 ['73', ['Roberto', 'Bárbara', 'Marta'], 'Perdeu'],
 ['74', ['Bárbara', 'Roberto', 'Romário'], 'Perdeu'],
 ['75', ['Roberto', 'Ronaldo', 'Marta'], 'Ganhou'],
 ['76', ['Romário', 'Marta', 'Ronaldo'], 'Ganhou'],
 ['77', ['Bárbara', 'Roberto', 'Marta'], 'Ganhou'],
 ['78', ['Ágata', 'Bárbara', 'Ronaldo'], 'Perdeu'],
 ['79', ['Bárbara', 'Roberto', 'Marta'], 'Perdeu'],
 ['80', ['Ágata', 'Marta'], 'Ganhou'],
 ['81', ['Shelda', 'Ronaldo'], 'Ganhou'],
 ['82', ['Roberto', 'Ágata'], 'Perdeu'],
 ['83', ['Romário', 'Ágata'], 'Ganhou'],
 ['84', ['Roberto', 'Marta'], 'Ganhou'],
 ['85', ['Roberto', 'Bárbara'], 'Perdeu'],
 ['86', ['Bárbara', 'Roberto'], 'Perdeu'],
 ['87', ['Roberto', 'Ronaldo'], 'Ganhou'],
 ['88', ['Ágata', 'Marta'], 'Ganhou'],
 ['89', ['Bárbara', 'Roberto'], 'Ganhou'],
 ['90', ['Shelda', 'Ronaldo'], 'Perdeu'],
 ['91', ['Roberto', 'Ágata', 'Alonso'], 'Perdeu'],
 ['92', ['Romário', 'Ágata'], 'Perdeu'],
 ['93', ['Roberto', 'Marta'], 'Perdeu'],
 ['94', ['Roberto', 'Bárbara'], 'Perdeu'],
 ['95', ['Bárbara', 'Roberto'], 'Perdeu'],
 ['96', ['Roberto', 'Ronaldo'], 'Ganhou'],
 ['97', ['Romário', 'Marta'], 'Ganhou'],
 ['98', ['Bárbara', 'Roberto'], 'Ganhou'],
 ['99', ['Ágata', 'Bárbara'], 'Perdeu'],
 ['100', ['Bárbara', 'Roberto'], 'Ganhou'],
 ['101', ['Romário', 'Bárbara'], 'Ganhou'],
 ['102', ['Bárbara', 'Roberto'], 'Perdeu'],
 ['103', ['Ágata', 'Shelda'], 'Perdeu'],
 ['104', ['Ágata', 'Marta'], 'Ganhou'],
 ['105', ['Shelda', 'Romário'], 'Ganhou'],
 ['106', ['Ágata', 'Ronaldo'], 'Perdeu'],
 ['107', ['Ágata', 'Marta'], 'Ganhou'],
 ['108', ['Marta', 'Bárbara'], 'Ganhou'],
 ['109', ['Ágata', 'Marta'], 'Ganhou'],
 ['110', ['Bárbara', 'Roberto'], 'Perdeu'],
 ['111', ['Shelda', 'Ronaldo'], 'Ganhou'],
 ['112', ['Roberto', 'Ágata', 'Alonso'], 'Ganhou'],
 ['113', ['Romário', 'Ágata'], 'Ganhou'],
 ['114', ['Roberto', 'Marta'], 'Perdeu'],
 ['115', ['Roberto', 'Bárbara'], 'Perdeu'],
 ['116', ['Bárbara', 'Roberto', 'Marta'], 'Ganhou'],
 ['117', ['Roberto', 'Ronaldo', 'Romário'], 'Perdeu'],
 ['118', ['Romário', 'Marta', 'Ronaldo'], 'Ganhou'],
 ['119', ['Bárbara', 'Roberto', 'Shelda'], 'Perdeu'],
 ['120', ['Ágata', 'Bárbara', 'Shelda'], 'Perdeu'],
 ['121', ['Bárbara', 'Roberto', 'Shelda'], 'Ganhou'],
 ['122', ['Romário', 'Bárbara', 'Marta'], 'Ganhou'],
 ['123', ['Bárbara', 'Roberto', 'Shelda'], 'Ganhou'],
 ['124', ['Ágata', 'Shelda', 'Ana'], 'Ganhou'],
 ['125', ['Ágata', 'Marta'], 'Perdeu'],
 ['126', ['Shelda', 'Romário'], 'Perdeu'],
 ['127', ['Ágata', 'Ronaldo'], 'Ganhou'],
 ['128', ['Ágata', 'Marta'], 'Perdeu'],
 ['129', ['Marta', 'Bárbara'], 'Perdeu'],
 ['130', ['Ágata', 'Marta'], 'Ganhou'],
 ['131', ['Bárbara', 'Roberto'], 'Ganhou'],
 ['132', ['Shelda', 'Ronaldo', 'Alonso'], 'Perdeu'],
 ['133', ['Roberto', 'Ágata'], 'Perdeu'],
 ['134', ['Romário', 'Ágata'], 'Ganhou'],
 ['135', ['Roberto', 'Marta'], 'Perdeu'],
 ['136', ['Roberto', 'Bárbara'], 'Perdeu'],
 ['137', ['Bárbara', 'Roberto'], 'Ganhou'],
 ['138', ['Roberto', 'Ronaldo'], 'Ganhou'],
 ['139', ['Romário', 'Marta'], 'Ganhou'],
 ['140', ['Bárbara', 'Roberto', 'Shelda'], 'Ganhou'],
 ['141', ['Romário', 'Bárbara', 'Marta'], 'Ganhou'],
 ['142', ['Bárbara', 'Roberto', 'Shelda'], 'Perdeu'],
 ['143', ['Ágata', 'Shelda', 'Ana'], 'Perdeu'],
 ['144', ['Ágata', 'Marta', 'Alonso'], 'Ganhou'],
 ['145', ['Shelda', 'Romário'], 'Perdeu'],
 ['146', ['Ágata', 'Marta'], 'Ganhou'],
 ['147', ['Shelda', 'Romário'], 'Perdeu'],
 ['148', ['Ágata', 'Ronaldo', 'Alonso'], 'Ganhou'],
 ['149', ['Ágata', 'Marta', 'Alonso'], 'Perdeu'],
 ['150', ['Marta', 'Bárbara'], 'Ganhou']]

In [33]:
#Criação de dataframe que preenche colunas de jogadores com 1 ou 0 (True ou False),
#dependendo da presença ou ausência do jogador na partida
for i in range(1,len(lista)-1):
    lista_temp = []
    lista_temp.append(lista[i][0])
    for jogador in nomes_jogadores:
        if jogador in lista[i][1]:
            lista_temp.append(1)
        else:
            lista_temp.append(0)
    if(lista[i][2] == 'Ganhou'):
        lista_temp.append(1)
    else:
        lista_temp.append(0)
    lista_para_df.append(lista_temp)

In [34]:
colunas = ["Partida",*nomes_jogadores,"Resultado"]
df = pd.DataFrame(lista_para_df,columns=colunas)

In [35]:
df

,Partida,Ágata,Alonso,Bárbara,Marta,Roberto,Romário,Ronaldo,Shelda,Resultado
0,Partida,Ágata,Alonso,Bárbara,Marta,Roberto,Romário,Ronaldo,Shelda,Resultado
1,1,0,1,0,0,1,1,0,0,0
2,2,1,1,0,0,1,0,0,0,0
3,3,1,0,0,1,0,0,1,0,1
4,4,1,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
294,145,0,0,0,0,0,1,0,1,0
295,146,1,0,0,1,0,0,0,0,1
296,147,0,0,0,0,0,1,0,1,0
297,148,1,1,0,0,0,0,1,0,1
298,149,1,1,0,1,0,0,0,0,0

In [36]:
df = df.drop(df.index[[0]])

In [37]:
df

,Partida,Ágata,Alonso,Bárbara,Marta,Roberto,Romário,Ronaldo,Shelda,Resultado
1,1,0,1,0,0,1,1,0,0,0
2,2,1,1,0,0,1,0,0,0,0
3,3,1,0,0,1,0,0,1,0,1
4,4,1,0,1,1,0,0,0,0,1
5,5,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
294,145,0,0,0,0,0,1,0,1,0
295,146,1,0,0,1,0,0,0,0,1
296,147,0,0,0,0,0,1,0,1,0
297,148,1,1,0,0,0,0,1,0,1
298,149,1,1,0,1,0,0,0,0,0

In [38]:
df = df.drop(['Partida'],axis=1)

In [39]:
df

    Ágata Alonso Bárbara Marta Roberto Romário Ronaldo Shelda Resultado
1       0      1       0     0       1       1       0      0         0
2       1      1       0     0       1       0       0      0         0
3       1      0       0     1       0       0       1      0         1
4       1      0       1     1       0       0       0      0         1
5       0      0       1     0       1       1       0      0         0
..    ...    ...     ...   ...     ...     ...     ...    ...       ...
294     0      0       0     0       0       1       0      1         0
295     1      0       0     1       0       0       0      0         1
296     0      0       0     0       0       1       0      1         0
297     1      1       0     0       0       0       1      0         1
298     1      1       0     1       0       0       0      0         0

[298 rows x 9 columns]

In [40]:
suporte = apriori(df, min_support=0.1,use_colnames=True)

In [41]:
suporte

     support                       itemsets
0   0.416107                        (Ágata)
1   0.389262                      (Bárbara)
2   0.422819                        (Marta)
3   0.436242                      (Roberto)
4   0.281879                      (Romário)
5   0.295302                      (Ronaldo)
6   0.214765                       (Shelda)
7   0.510067                    (Resultado)
8   0.181208                 (Marta, Ágata)
9   0.107383               (Ágata, Roberto)
10  0.114094               (Ágata, Ronaldo)
11  0.228188             (Ágata, Resultado)
12  0.161074               (Bárbara, Marta)
13  0.221477             (Bárbara, Roberto)
14  0.187919           (Bárbara, Resultado)
15  0.147651               (Marta, Roberto)
16  0.281879             (Marta, Resultado)
17  0.208054           (Resultado, Roberto)
18  0.134228           (Romário, Resultado)
19  0.147651           (Resultado, Ronaldo)
20  0.127517      (Marta, Ágata, Resultado)
21  0.107383    (Bárbara, Marta, Resultado)
22  0.100671  (Bárbara, Resultado, Roberto)

In [42]:
regras = association_rules(suporte, metric="confidence", min_threshold=0.1)

In [43]:
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Marta),(Ágata),0.422819,0.416107,0.181208,0.428571,1.029954,0.005270,1.021812
1,(Ágata),(Marta),0.416107,0.422819,0.181208,0.435484,1.029954,0.005270,1.022435
2,(Ágata),(Roberto),0.416107,0.436242,0.107383,0.258065,0.591563,-0.074141,0.759848
3,(Roberto),(Ágata),0.436242,0.416107,0.107383,0.246154,0.591563,-0.074141,0.774551
4,(Ágata),(Ronaldo),0.416107,0.295302,0.114094,0.274194,0.928519,-0.008783,0.970917
5,(Ronaldo),(Ágata),0.295302,0.416107,0.114094,0.386364,0.928519,-0.008783,0.951529
6,(Ágata),(Resultado),0.416107,0.510067,0.228188,0.548387,1.075127,0.015945,1.084851
7,(Resultado),(Ágata),0.510067,0.416107,0.228188,0.447368,1.075127,0.015945,1.056568
8,(Bárbara),(Marta),0.389262,0.422819,0.161074,0.413793,0.978654,-0.003513,0.984603
9,(Marta),(Bárbara),0.422819,0.389262,0.161074,0.380952,0.978654,-0.003513,0.986577
10,(Bárbara),(Roberto),0.389262,0.436242,0.221477,0.568966,1.304244,0.051664,1.307919
11,(Roberto),(Bárbara),0.436242,0.389262,0.221477,0.507692,1.304244,0.051664,1.240562
12,(Bárbara),(Resultado),0.389262,0.510067,0.187919,0.482759,0.946461,-0.010630,0.947204
13,(Resultado),(Bárbara),0.510067,0.389262,0.187919,0.368421,0.946461,-0.010630,0.967002
14,(Marta),(Roberto),0.422819,0.436242,0.147651,0.349206,0.800488,-0.036800,0.866263
15,(Roberto),(Marta),0.436242,0.422819,0.147651,0.338462,0.800488,-0.036800,0.872483
16,(Marta),(Resultado),0.422819,0.510067,0.281879,0.666667,1.307018,0.066213,1.469799
17,(Resultado),(Marta),0.510067,0.422819,0.281879,0.552632,1.307018,0.066213,1.290170
18,(Resultado),(Roberto),0.510067,0.436242,0.208054,0.407895,0.935020,-0.014459,0.952125
19,(Roberto),(Resultado),0.436242,0.510067,0.208054,0.476923,0.935020,-0.014459,0.936636
20,(Romário),(Resultado),0.281879,0.510067,0.134228,0.476190,0.933584,-0.009549,0.935326
21,(Resultado),(Romário),0.510067,0.281879,0.134228,0.263158,0.933584,-0.009549,0.974593
22,(Resultado),(Ronaldo),0.510067,0.295302,0.147651,0.289474,0.980263,-0.002973,0.991797
23,(Ronaldo),(Resultado),0.295302,0.510067,0.147651,0.500000,0.980263,-0.002973,0.979866
24,"(Marta, Ágata)",(Resultado),0.181208,0.510067,0.127517,0.703704,1.379630,0.035089,1.653523
25,"(Marta, Resultado)",(Ágata),0.281879,0.416107,0.127517,0.452381,1.087174,0.010225,1.066239
26,"(Ágata, Resultado)",(Marta),0.228188,0.422819,0.127517,0.558824,1.321662,0.031035,1.308277
27,(Marta),"(Ágata, Resultado)",0.422819,0.228188,0.127517,0.301587,1.321662,0.031035,1.105095
28,(Ágata),"(Marta, Resultado)",0.416107,0.281879,0.127517,0.306452,1.087174,0.010225,1.035430
29,(Resultado),"(Marta, Ágata)",0.510067,0.181208,0.127517,0.250000,1.379630,0.035089,1.091723
30,"(Bárbara, Marta)",(Resultado),0.161074,0.510067,0.107383,0.666667,1.307018,0.025224,1.469799
31,"(Bárbara, Resultado)",(Marta),0.187919,0.422819,0.107383,0.571429,1.351474,0.027927,1.346756
32,"(Marta, Resultado)",(Bárbara),0.281879,0.389262,0.107383,0.380952,0.978654,-0.002342,0.986577
33,(Bárbara),"(Marta, Resultado)",0.389262,0.281879,0.107383,0.275862,0.978654,-0.002342,0.991691
34,(Marta),"(Bárbara, Resultado)",0.422819,0.187919,0.107383,0.253968,1.351474,0.027927,1.088533
35,(Resultado),"(Bárbara, Marta)",0.510067,0.161074,0.107383,0.210526,1.307018,0.025224,1.062640
36,"(Bárbara, Resultado)",(Roberto),0.187919,0.436242,0.100671,0.535714,1.228022,0.018693,1.214249
37,"(Bárbara, Roberto)",(Resultado),0.221477,0.510067,0.100671,0.454545,0.891148,-0.012297,0.898210
38,"(Resultado, Roberto)",(Bárbara),0.208054,0.389262,0.100671,0.483871,1.243048,0.019684,1.183305
39,(Bárbara),"(Resultado, Roberto)",0.389262,0.208054,0.100671,0.258621,1.243048,0.019684,1.068207
40,(Resultado),"(Bárbara, Roberto)",0.510067,0.221477,0.100671,0.197368,0.891148,-0.012297,0.969964
41,(Roberto),"(Bárbara, Resultado)",0.436242,0.187919,0.100671,0.230769,1.228022,0.018693,1.055705

In [46]:
regras_sort = regras.sort_values(by=['confidence'],ascending=False)

In [47]:
regras_sort.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
24,"(Marta, Ágata)",(Resultado),0.181208,0.510067,0.127517,0.703704,1.379630,0.035089,1.653523
30,"(Bárbara, Marta)",(Resultado),0.161074,0.510067,0.107383,0.666667,1.307018,0.025224,1.469799
16,(Marta),(Resultado),0.422819,0.510067,0.281879,0.666667,1.307018,0.066213,1.469799
31,"(Bárbara, Resultado)",(Marta),0.187919,0.422819,0.107383,0.571429,1.351474,0.027927,1.346756
10,(Bárbara),(Roberto),0.389262,0.436242,0.221477,0.568966,1.304244,0.051664,1.307919
26,"(Ágata, Resultado)",(Marta),0.228188,0.422819,0.127517,0.558824,1.321662,0.031035,1.308277
17,(Resultado),(Marta),0.510067,0.422819,0.281879,0.552632,1.307018,0.066213,1.290170
6,(Ágata),(Resultado),0.416107,0.510067,0.228188,0.548387,1.075127,0.015945,1.084851
36,"(Bárbara, Resultado)",(Roberto),0.187919,0.436242,0.100671,0.535714,1.228022,0.018693,1.214249
11,(Roberto),(Bárbara),0.436242,0.389262,0.221477,0.507692,1.304244,0.051664,1.240562
23,(Ronaldo),(Resultado),0.295302,0.510067,0.147651,0.500000,0.980263,-0.002973,0.979866
38,"(Resultado, Roberto)",(Bárbara),0.208054,0.389262,0.100671,0.483871,1.243048,0.019684,1.183305
12,(Bárbara),(Resultado),0.389262,0.510067,0.187919,0.482759,0.946461,-0.010630,0.947204
19,(Roberto),(Resultado),0.436242,0.510067,0.208054,0.476923,0.935020,-0.014459,0.936636
20,(Romário),(Resultado),0.281879,0.510067,0.134228,0.476190,0.933584,-0.009549,0.935326
37,"(Bárbara, Roberto)",(Resultado),0.221477,0.510067,0.100671,0.454545,0.891148,-0.012297,0.898210
25,"(Marta, Resultado)",(Ágata),0.281879,0.416107,0.127517,0.452381,1.087174,0.010225,1.066239
7,(Resultado),(Ágata),0.510067,0.416107,0.228188,0.447368,1.075127,0.015945,1.056568
1,(Ágata),(Marta),0.416107,0.422819,0.181208,0.435484,1.029954,0.005270,1.022435
0,(Marta),(Ágata),0.422819,0.416107,0.181208,0.428571,1.029954,0.005270,1.021812
8,(Bárbara),(Marta),0.389262,0.422819,0.161074,0.413793,0.978654,-0.003513,0.984603
18,(Resultado),(Roberto),0.510067,0.436242,0.208054,0.407895,0.935020,-0.014459,0.952125
5,(Ronaldo),(Ágata),0.295302,0.416107,0.114094,0.386364,0.928519,-0.008783,0.951529
32,"(Marta, Resultado)",(Bárbara),0.281879,0.389262,0.107383,0.380952,0.978654,-0.002342,0.986577
9,(Marta),(Bárbara),0.422819,0.389262,0.161074,0.380952,0.978654,-0.003513,0.986577
13,(Resultado),(Bárbara),0.510067,0.389262,0.187919,0.368421,0.946461,-0.010630,0.967002
14,(Marta),(Roberto),0.422819,0.436242,0.147651,0.349206,0.800488,-0.036800,0.866263
15,(Roberto),(Marta),0.436242,0.422819,0.147651,0.338462,0.800488,-0.036800,0.872483
28,(Ágata),"(Marta, Resultado)",0.416107,0.281879,0.127517,0.306452,1.087174,0.010225,1.035430
27,(Marta),"(Ágata, Resultado)",0.422819,0.228188,0.127517,0.301587,1.321662,0.031035,1.105095